In [1]:
import yfinance as yf
import pandas as pd

In [2]:
def download_data(ticker, start_date='2015-01-01', end_date='2024-10-31'):
    """Download historical financial data from YFinance."""
    data = yf.download(ticker, start=start_date, end=end_date)
    data['Ticker'] = ticker
    return data

def main():
    assets = ['TSLA', 'BND', 'SPY']
    all_data = []

    for ticker in assets:
        data = download_data(ticker)
        data.to_csv(f'../data/raw/{ticker}_data.csv')  # Save raw data

if __name__ == "__main__":
    main()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

## Reading of TSLA data

In [3]:
# Load Tesla dataset
df_tesla = pd.read_csv('../data/raw/TSLA_data.csv')

In [4]:
df_tesla

,Price,Adj Close,Close,High,Low,Open,Volume,Ticker
0,Ticker,TSLA,TSLA,TSLA,TSLA,TSLA,TSLA,NaN
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-02 00:00:00+00:00,14.620667457580566,14.620667457580566,14.883333206176758,14.21733283996582,14.857999801635742,71466000,TSLA
3,2015-01-05 00:00:00+00:00,14.005999565124512,14.005999565124512,14.433333396911621,13.810667037963867,14.303333282470703,80527500,TSLA
4,2015-01-06 00:00:00+00:00,14.085332870483398,14.085332870483398,14.279999732971191,13.61400032043457,14.003999710083008,93928500,TSLA
...,...,...,...,...,...,...,...,...
2471,2024-10-24 00:00:00+00:00,260.4800109863281,260.4800109863281,262.1199951171875,242.64999389648438,244.67999267578125,204491900,TSLA
2472,2024-10-25 00:00:00+00:00,269.19000244140625,269.19000244140625,269.489990234375,255.32000732421875,256.010009765625,161611900,TSLA
2473,2024-10-28 00:00:00+00:00,262.510009765625,262.510009765625,273.5400085449219,262.239990234375,270.0,107653600,TSLA
2474,2024-10-29 00:00:00+00:00,259.5199890136719,259.5199890136719,264.9800109863281,255.50999450683594,264.510009765625,80521800,TSLA
2475,2024-10-30 00:00:00+00:00,257.54998779296875,257.54998779296875,263.3500061035156,255.82000732421875,258.0400085449219,53993600,TSLA

In [5]:
# Dropping 1st two rows by index
indexes_to_drop = [0, 1]  # Specify the row indices to drop
df_tesla = df_tesla.drop(indexes_to_drop)

In [6]:
# Renaming a Price with date
df_tesla = df_tesla.rename(columns={'Price': 'Date'})
df_tesla

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
2,2015-01-02 00:00:00+00:00,14.620667457580566,14.620667457580566,14.883333206176758,14.21733283996582,14.857999801635742,71466000,TSLA
3,2015-01-05 00:00:00+00:00,14.005999565124512,14.005999565124512,14.433333396911621,13.810667037963867,14.303333282470703,80527500,TSLA
4,2015-01-06 00:00:00+00:00,14.085332870483398,14.085332870483398,14.279999732971191,13.61400032043457,14.003999710083008,93928500,TSLA
5,2015-01-07 00:00:00+00:00,14.063332557678223,14.063332557678223,14.3186674118042,13.985333442687988,14.223333358764648,44526000,TSLA
6,2015-01-08 00:00:00+00:00,14.041333198547363,14.041333198547363,14.25333309173584,14.000666618347168,14.187333106994629,51637500,TSLA
...,...,...,...,...,...,...,...,...
2471,2024-10-24 00:00:00+00:00,260.4800109863281,260.4800109863281,262.1199951171875,242.64999389648438,244.67999267578125,204491900,TSLA
2472,2024-10-25 00:00:00+00:00,269.19000244140625,269.19000244140625,269.489990234375,255.32000732421875,256.010009765625,161611900,TSLA
2473,2024-10-28 00:00:00+00:00,262.510009765625,262.510009765625,273.5400085449219,262.239990234375,270.0,107653600,TSLA
2474,2024-10-29 00:00:00+00:00,259.5199890136719,259.5199890136719,264.9800109863281,255.50999450683594,264.510009765625,80521800,TSLA
2475,2024-10-30 00:00:00+00:00,257.54998779296875,257.54998779296875,263.3500061035156,255.82000732421875,258.0400085449219,53993600,TSLA

## Reading of BND data

In [7]:
# Load BND dataset
df_BND = pd.read_csv('../data/raw/BND_data.csv')

In [8]:
df_BND

,Price,Adj Close,Close,High,Low,Open,Volume,Ticker
0,Ticker,BND,BND,BND,BND,BND,BND,NaN
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-02 00:00:00+00:00,63.3587646484375,82.6500015258789,82.69000244140625,82.41999816894531,82.43000030517578,2218800,BND
3,2015-01-05 00:00:00+00:00,63.542724609375,82.88999938964844,82.91999816894531,82.69999694824219,82.73999786376953,5820100,BND
4,2015-01-06 00:00:00+00:00,63.726715087890625,83.12999725341797,83.37999725341797,83.02999877929688,83.02999877929688,3887600,BND
...,...,...,...,...,...,...,...,...
2471,2024-10-24 00:00:00+00:00,73.08118438720703,73.30999755859375,73.44000244140625,73.16999816894531,73.27999877929688,6219500,BND
2472,2024-10-25 00:00:00+00:00,72.9316635131836,73.16000366210938,73.4800033569336,73.12999725341797,73.4800033569336,4641400,BND
2473,2024-10-28 00:00:00+00:00,72.8419418334961,73.06999969482422,73.27999877929688,72.94999694824219,73.23999786376953,4582800,BND
2474,2024-10-29 00:00:00+00:00,72.90174865722656,73.12999725341797,73.13999938964844,72.79000091552734,72.9000015258789,5543800,BND
2475,2024-10-30 00:00:00+00:00,72.83197021484375,73.05999755859375,73.43000030517578,73.0199966430664,73.2699966430664,4610300,BND

In [9]:
# Dropping 1st two rows by index
indexes_to_drop = [0, 1]  # Specify the row indices to drop
df_BND = df_BND.drop(indexes_to_drop)

In [10]:
# Renaming a Price with date
df_BND = df_BND.rename(columns={'Price': 'Date'})
df_BND

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
2,2015-01-02 00:00:00+00:00,63.3587646484375,82.6500015258789,82.69000244140625,82.41999816894531,82.43000030517578,2218800,BND
3,2015-01-05 00:00:00+00:00,63.542724609375,82.88999938964844,82.91999816894531,82.69999694824219,82.73999786376953,5820100,BND
4,2015-01-06 00:00:00+00:00,63.726715087890625,83.12999725341797,83.37999725341797,83.02999877929688,83.02999877929688,3887600,BND
5,2015-01-07 00:00:00+00:00,63.76504898071289,83.18000030517578,83.27999877929688,83.05000305175781,83.13999938964844,2433400,BND
6,2015-01-08 00:00:00+00:00,63.6653938293457,83.05000305175781,83.11000061035156,82.97000122070312,83.11000061035156,1873400,BND
...,...,...,...,...,...,...,...,...
2471,2024-10-24 00:00:00+00:00,73.08118438720703,73.30999755859375,73.44000244140625,73.16999816894531,73.27999877929688,6219500,BND
2472,2024-10-25 00:00:00+00:00,72.9316635131836,73.16000366210938,73.4800033569336,73.12999725341797,73.4800033569336,4641400,BND
2473,2024-10-28 00:00:00+00:00,72.8419418334961,73.06999969482422,73.27999877929688,72.94999694824219,73.23999786376953,4582800,BND
2474,2024-10-29 00:00:00+00:00,72.90174865722656,73.12999725341797,73.13999938964844,72.79000091552734,72.9000015258789,5543800,BND
2475,2024-10-30 00:00:00+00:00,72.83197021484375,73.05999755859375,73.43000030517578,73.0199966430664,73.2699966430664,4610300,BND

## Reading of SPY data

In [11]:
# Load SPY dataset
df_SPY = pd.read_csv('../data/raw/SPY_data.csv')

In [12]:
df_SPY

,Price,Adj Close,Close,High,Low,Open,Volume,Ticker
0,Ticker,SPY,SPY,SPY,SPY,SPY,SPY,NaN
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-02 00:00:00+00:00,173.1737823486328,205.42999267578125,206.8800048828125,204.17999267578125,206.3800048828125,121465900,SPY
3,2015-01-05 00:00:00+00:00,170.04629516601562,201.72000122070312,204.3699951171875,201.35000610351562,204.1699981689453,169632600,SPY
4,2015-01-06 00:00:00+00:00,168.4446258544922,199.82000732421875,202.72000122070312,198.86000061035156,202.08999633789062,209151400,SPY
...,...,...,...,...,...,...,...,...
2471,2024-10-24 00:00:00+00:00,579.239990234375,579.239990234375,580.0599975585938,576.5700073242188,579.97998046875,34979900,SPY
2472,2024-10-25 00:00:00+00:00,579.0399780273438,579.0399780273438,584.4600219726562,578.0800170898438,581.510009765625,47268200,SPY
2473,2024-10-28 00:00:00+00:00,580.8300170898438,580.8300170898438,582.7100219726562,580.52001953125,582.5800170898438,30174700,SPY
2474,2024-10-29 00:00:00+00:00,581.77001953125,581.77001953125,582.9099731445312,578.4299926757812,579.8499755859375,42899700,SPY
2475,2024-10-30 00:00:00+00:00,580.010009765625,580.010009765625,583.3200073242188,579.2899780273438,581.2899780273438,41435800,SPY

In [13]:
# Dropping rows by index
indexes_to_drop = [0, 1]  # Specify the row indices to drop
df_SPY = df_SPY.drop(indexes_to_drop)

In [14]:
# Renaming a Price with date
df_SPY = df_SPY.rename(columns={'Price': 'Date'})
df_SPY

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
2,2015-01-02 00:00:00+00:00,173.1737823486328,205.42999267578125,206.8800048828125,204.17999267578125,206.3800048828125,121465900,SPY
3,2015-01-05 00:00:00+00:00,170.04629516601562,201.72000122070312,204.3699951171875,201.35000610351562,204.1699981689453,169632600,SPY
4,2015-01-06 00:00:00+00:00,168.4446258544922,199.82000732421875,202.72000122070312,198.86000061035156,202.08999633789062,209151400,SPY
5,2015-01-07 00:00:00+00:00,170.5436553955078,202.30999755859375,202.72000122070312,200.8800048828125,201.4199981689453,125346700,SPY
6,2015-01-08 00:00:00+00:00,173.56991577148438,205.89999389648438,206.16000366210938,203.99000549316406,204.00999450683594,147217800,SPY
...,...,...,...,...,...,...,...,...
2471,2024-10-24 00:00:00+00:00,579.239990234375,579.239990234375,580.0599975585938,576.5700073242188,579.97998046875,34979900,SPY
2472,2024-10-25 00:00:00+00:00,579.0399780273438,579.0399780273438,584.4600219726562,578.0800170898438,581.510009765625,47268200,SPY
2473,2024-10-28 00:00:00+00:00,580.8300170898438,580.8300170898438,582.7100219726562,580.52001953125,582.5800170898438,30174700,SPY
2474,2024-10-29 00:00:00+00:00,581.77001953125,581.77001953125,582.9099731445312,578.4299926757812,579.8499755859375,42899700,SPY
2475,2024-10-30 00:00:00+00:00,580.010009765625,580.010009765625,583.3200073242188,579.2899780273438,581.2899780273438,41435800,SPY

## Merging of the three datasets

In [15]:
final_df = pd.concat([df_tesla, df_BND, df_SPY], ignore_index=True)

In [16]:
final_df

,Date,Adj Close,Close,High,Low,Open,Volume,Ticker
0,2015-01-02 00:00:00+00:00,14.620667457580566,14.620667457580566,14.883333206176758,14.21733283996582,14.857999801635742,71466000,TSLA
1,2015-01-05 00:00:00+00:00,14.005999565124512,14.005999565124512,14.433333396911621,13.810667037963867,14.303333282470703,80527500,TSLA
2,2015-01-06 00:00:00+00:00,14.085332870483398,14.085332870483398,14.279999732971191,13.61400032043457,14.003999710083008,93928500,TSLA
3,2015-01-07 00:00:00+00:00,14.063332557678223,14.063332557678223,14.3186674118042,13.985333442687988,14.223333358764648,44526000,TSLA
4,2015-01-08 00:00:00+00:00,14.041333198547363,14.041333198547363,14.25333309173584,14.000666618347168,14.187333106994629,51637500,TSLA
...,...,...,...,...,...,...,...,...
7417,2024-10-24 00:00:00+00:00,579.239990234375,579.239990234375,580.0599975585938,576.5700073242188,579.97998046875,34979900,SPY
7418,2024-10-25 00:00:00+00:00,579.0399780273438,579.0399780273438,584.4600219726562,578.0800170898438,581.510009765625,47268200,SPY
7419,2024-10-28 00:00:00+00:00,580.8300170898438,580.8300170898438,582.7100219726562,580.52001953125,582.5800170898438,30174700,SPY
7420,2024-10-29 00:00:00+00:00,581.77001953125,581.77001953125,582.9099731445312,578.4299926757812,579.8499755859375,42899700,SPY
7421,2024-10-30 00:00:00+00:00,580.010009765625,580.010009765625,583.3200073242188,579.2899780273438,581.2899780273438,41435800,SPY

In [19]:
final_df.to_csv('C:\\Users\\1221\\Desktop\\Acadamy AIM 2\\GMF-Investments-TimeSeries-PortfolioOptimization\\data\\raw\\combined_data.csv', index= False)